<div class="swiper-parent">
	<app-swiper-navigation [data]="quarterlyData">
		<h1 class="header">Quaterly Data</h1>
		<h2 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod unde, qui nisi adipisci molestias rem!</h2>
	</app-swiper-navigation>
</div>
<div class="swiper-parent">
	<app-swiper [data]="projectMilestones">
		<h1 class="header">Project Milestones</h1>
		<h2 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod unde, qui nisi adipisci molestias rem!</h2>
	</app-swiper>
</div>
<div class="swiper-parent">
	<app-swiper-paginate [data]="quarterlyData">
		<h1 class="header">Goals To Do</h1>
		<h2 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod unde, qui nisi adipisci molestias rem!</h2>
	</app-swiper-paginate>
</div>
